body {
    background: yellow;

}

#titulo {
    text-align: center;
    font-size: 45px;
    color: #FF6969;
    background-color:#C70039;
}

.texto {
    text-align: center;
    font-size: 30px;
}

em strong {
    color: green;
}