body { 
    background: green;

    }

    h1 {
         text-align: center;
    font-size: 30px; 
    }

p { text-align: center;
    font-size: 45px;
}
   
em strong{
    color: brown;
} 
 